{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- import fonts -->
		<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

		<!-- import jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163861770-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-163861770-1');
		</script>

		<title>LivelyHood - Volunteer Sign-Up</title>

        <!-- CUSTOM STYLESHEETS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/begin-signup.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/email-confirmation.css' %}" rel="stylesheet"/>

        <!-- PAGE SOURCE -->
        <script src="{% static 'js/begin-signup.js' %}"></script>
	</head>
	<body>
		<div class="nav-bar">
			<img src="{% static 'css/icons/backarrow.svg' %}" alt="back button" height="24px" width="24px" id="back-button" class="nav-item back-button">
			</img>
		</div>
		<div class="page" id="reqs-page">
			{% include "errand_matcher/requirements.html" %}
		</div>

		<div class="page" id="email-page">
			{% include "errand_matcher/email-confirmation.html" %}
		</div>
	</body>
</html>