<div class="h5_32 item">
	Does this look right to you?
</div>
<div class="body_16_fontonly subhead item">
	Confirm your details and you're good to go!
</div>
<div class="confirmation-item">
	<div class="confirmation-field body_13">
		Name
	</div>
	<div class="confirmation-text body_bold_16" id="name-confirmation">
	</div>
</div>
<div class="confirmation-item">
	<div class="confirmation-field body_13">
		Email adress
	</div>
	<div class="confirmation-text body_bold_16" id="email-confirmation">
	</div>
</div>
<div class="confirmation-item">
	<div class="confirmation-field body_13">
		Phone number
	</div>
	<div class="confirmation-text body_bold_16" id="phone-confirmation">
	</div>
</div>
<div class="confirmation-item">
	<div class="confirmation-field body_13">
		ZIP code
	</div>
	<div class="confirmation-text body_bold_16" id="zip-confirmation">
	</div>
</div>
<div class="confirmation-item">
	<div class="confirmation-field body_13">
		Transportation access
	</div>
	<div class="confirmation-text body_bold_16" id="transport-confirmation">
	</div>
</div>
<div class="confirmation-item">
	<div class="confirmation-field body_13">
		Delivery frequency
	</div>
	<div class="confirmation-text body_bold_16" id="frequency-confirmation">
	</div>
</div>

<div class="body_bold_16 button next-button">
	Finish
</div>