{% if current_email is None %}
	<div class="h5_32 item">
		What's your school or work email?
	</div>
	<div class="body_16_fontonly subhead item">
		This extra verification helps ensure the safety of our community.
	</div>

	<form class="email-form" action="confirmation" method="post">
		{% csrf_token %}
		<label for="email-input" class="email-box">
			<input type="email" name="current-email" id="email-input" placeholder="email address">
		</label>
		<label for="send-confirmation-email-button" class="email-button body_bold_16">
			<input type="submit" id="send-confirmation-email-button" class="body_bold_15" value="Send confirmation email">
		</label>
	</form>
	<div class="body_16_fontonly subhead item warning" id="email-warning">
		Please enter a .edu email address.
	</div>
{% else %}
	<div class="h5_32 item">
		Got it!
	</div>
	<div class="body_16_fontonly subhead item">
		Please check your email and follow the confirmation link to finish setup.
	</div>

	<form class="email-form" action="confirmation" method="post">
		{% csrf_token %}
		<label for="email-input" class="email-box">
			<input type="hidden" name="current-email" id="email-input" placeholder="email address" value="{{ current_email}} ">
		</label>
		<label for="send-confirmation-email-button" class="email-button body_bold_16">
			<input type="submit" id="send-confirmation-email-button" class="body_bold_15" value="Resend confirmation email">
		</label>
	</form>
{% endif %}


