<div class="h5_32 item">
	What's your school or work email?
</div>
<div class="body_16_fontonly subhead item">
	This extra verification helps ensure the safety of our community. In the next step, you'll choose which e-mail to link to your Shield account.
</div>

<form class="email-form" action="confirmation" method="post">
	{% csrf_token %}
	<label for="email-input" class="email-box">
		<input type="email" name="current-email" id="email-input" placeholder="email address">
	</label>
	<label for="send-confirmation-email-button" class="email-button body_bold_16">
		<input type="submit" id="send-confirmation-email-button" class="body_bold_15" value="Send confirmation email">
	</label>
</form>


