<div class="h5_32 item">
	When do you need your delivery?
</div>
<div class="body_16_fontonly subhead item">
	This helps us match you with the nearest volunteers.
</div>

<label for="errand-urgency-24-hours-cbox" class="option-box">
	<input type="radio" id="errand-urgency-24-hours-cbox" name="errand-urgency" value="In less than 24 hours"/> 
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">In less than 24 hours</span>  
</label>

<label for="errand-urgency-three-days-cbox" class="option-box">
	<input type="radio" id="errand-urgency-three-days-cbox" name="errand-urgency" value="Within 3 days"/>
	<span class="cbox-item cbox"></span> 
	<span class="cbox-item body_bold_16">Within 3 days</span>
</label>

<input type="hidden" id="requestor-number" name="requestor-number" value={{ requestor_number }}>

<div class="body_bold_16 inline-button-box button next-button" id="delivery-request-button">
	Send delivery request
</div>

