{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- import fonts -->
		<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

		<!-- import jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<title>LivelyHood - Delivery Request</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'css/icons/favicon.ico' %}"/>
		<base href="{{base_url}}" />

        <!-- CUSTOM STYLESHEETS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

        <!-- PAGE SOURCE -->
        <script src="{% static 'js/errand-accept.js' %}"></script>
	</head>
	<body>
		<div class="page" id="errand-accept-details-page">
			{% include "errand_matcher/errand-accept-details.html" %}
		</div>
		<div class="page" id="errand-accep-confirmation-page">
			{% include "errand_matcher/errand-accept-confirmation.html" %}
		</div>
		<div class="page" id="errand-accep-failure-page">
			{% include "errand_matcher/errand-failure.html" %}
		</div>
		<input type="hidden" id="errand_status" value={{ errand_status }}>
	</body>
</html>