{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<!-- import fonts -->
		<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

		<!-- import jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<title>LivelyHood - Delivery Request</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'css/icons/favicon.ico' %}"/>
		<base href="{{base_url}}" />

        <!-- CUSTOM STYLESHEETS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

        <!-- PAGE SOURCE -->
        <script src="{% static 'js/errand-accept.js' %}"></script>
	</head>
	<body>
		<div class="h5_32 item">
		    Delivery #{{errand.id}}
		</div>
		<div class="body_16_fontonly subhead item">
		    Thanks for helping {{requestor.user.first_name}} out! Every little help makes a difference :)
		</div>
		<div class="conf-item">
		    <div class="body-13">Time left to deliver</div>
		    <div class="body_bold_16">{{time_left}}</div>
		</div>
		<div>
			<span style="border: 1px solid rgba(0, 0, 0, 0.1);"></span>
		<div>
		<div class="conf-item">
		    <div class="body-13">Name</div>
		    <div class="body_bold_16">
		        <span>{{requestor.user.first_name}}</span> <span">{{requestor.user.last_name}}</span>
		    </div>
		</div>

		<div class="conf-item">
		    <div class="body-13">Phone number</div>
		    <div class="body_bold_16">{{ requestor_number }}</div>
		</div>

		<div class="conf-item">
		    <div class="body-13">Notification preference</div>
		    <div class="body_bold_16">{{ contact_preference }} </div>
		</div>

		<div class="conf-item">
		    <div class="body-13">Address</div>
		    <div class="body_bold_16">{{ address }}</div>
		</div>

		{% if additional_info %}
		<div class="conf-item">
		    <div class="body-13">Additional details</div>
		    <div class="body_bold_16">{{ additional_info }}</div>
		</div>
		{% endif %}
	</body>

