<div class="subflow-contents">
    <h4 class="h4-heading">Delivery request sent</h4>
    <!-- TODO: Add name, replace # of hours. -->
    <div class="body_16_fontonly">
	    Thanks for the details. We've sent your request to nearby volunteers. You should hear from someone within the next X hours.
    </div>

    <h4 class="h4-heading">What's next?</h4>

    <div class="horizontal-container">
	    <div class="styled-number">1</div>
	    <div class="numbered-list-item"><b>Wait for a phone call</b><br>A volunteer will reach out to get details of what you need</div>
    </div>
    <div class="horizontal-container">
	    <div class="styled-number">2</div>
	    <div class="numbered-list-item"><b>Organize delivery time</b><br>A volunteer will safely do a no-contact delivery at the discussed time</div>
    </div>
    <div class="horizontal-container">
	    <div class="styled-number">3</div>
	    <div class="numbered-list-item"><b>Reimburse your volunteer</b><br>Call ahead to the store to pay or use venmo or paypal</div>
    </div>
</div>

<div class="body_bold_16 inline-button-box button health-and-safety-button">
	Health and Safety Protocol
</div>
<div class="body_bold_16 inline-button-box button faq-button">
	Frequenty Asked Questions
</div>
<div class="body_bold_16 inline-button-box button support-button">
	Get Support
</div>


	

	

	

