<div class="h5_32 item">
	How often can you make deliveries?
</div>
<div class="body_16_fontonly subhead item">
	The more often, the merrier :). Don't worry, you'll get to choose what to accept when the time comes.
</div>

<label for="freq-anytime-cbox" class="option-box">
	<input type="radio" id="freq-anytime-cbox" name="frequency" value="Anytime"/> 
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">Anytime</span>  
</label>

<label for="freq-multi-week-cbox" class="option-box">
	<input type="radio" id="freq-multi-week-cbox" name="frequency" value="2-3 times a week"/>
	<span class="cbox-item cbox"></span> 
	<span class="cbox-item body_bold_16">2-3 times a week</span>
</label>

<label for="freq-once-week-cbox" class="option-box">
	<input type="radio" id="freq-once-week-cbox" name="frequency" value="Once a week"/>
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">Once a week</span> 
</label>

<div class="body_16_fontonly subhead item warning" id="frequency-warning">
	Please select only one.
</div>

<div class="body_bold_16 button next-button">
	Next
</div>