{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- import jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<title>Livelyhood</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'css/icons/favicon.ico' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- CUSTOM STYLESHEETS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

	<!-- PAGE SOURCE -->
    <script src="{% static 'js/health-and-safety.js' %}"></script>
</head>

<body>
	<div class="topnav" id="topnav">
		<!-- TODO: Check all links are correct. -->
		<a class="topnav-item button home-link" id="home-item">LivelyHood</a>
		<a class="topnav-item-collapsible button health-and-safety-link">Health and safety protocol</a>
		<a class="topnav-item-collapsible button faq-link">FAQs</a>
		<a class="topnav-item-collapsible button about-link">About</a>
		<a class="topnav-item-collapsible button about-link">Contact</a>
		<a class="icon">☰</a>
	</div>
	<div class="contents">
		<h4 class="h4-heading">Health and Safety Protocol</h4>

        <h5 class="h5-heading">Volunteers</h5>

        <p class="title-text">To be a volunteer, you have to:</p>
        <ul class="details-text">
        	<li>Be between ages 18-40</li>
        	<li>Be healthy without pre-existing health conditions that may increase your risk of severe illness, such as severe asthma, respiratory diseases, heart disease, diabetes</li>
        	<li>Be asymptomatic without: fever, cough, shortness of breath, flu-like symptoms (fatigue, muscle or joint pain)</li>
       		<li>Have not been exposed to individuals tested COVID-19+ within the last 2 weeks</li>
        	<li>Have been practicing social distancing</li>
        </ul>

        <p class="title-text">Delivery protocol precautions<br><br></p>

        <p class="title-text"><i>General principles</i></p>
        <ul class="details-text">
        	<li>Your safety is paramount during this process. We can only help others if we are taking care of ourselves as well.</li>
        	<li>While coronaviruses spread mostly through respiratory droplets (sneezing, coughing), the virus can also be on surfaces and spread through physical contact.</li>
        	<li>Communicate with the requester through phone/email while avoiding face-to-face contact.</li>
        </ul>
        <p class="title-text"><i>Delivery</i></p>
        <ul class="details-text">
        	<li>Prior to delivery, use hand sanitizer or wash your hands with soap and water thoroughly.</li>
        	<li>Per CDC recommendation, it is <b>standard protocol for masks or a reasonable alternative (bandana, scarf) to be worn</b> for protecting yourself and others. Where possible, wear single use gloves.</li>
        	<li>At the grocery store and/or pharmacy, where available, wipe down cart/grocery basket handles with provided sanitizing wipes.</li>
        	<li>Minimize contact with the items purchased. Keep the receipt.</li>
        	<li>Leave bags of items with receipt inside at the requester's door without contacting the door or requester (communicate through phone). Stand 6 feet away from the door at all times.</li>
        	<li>The requester should leave cash in an envelope outside the door or e-transfer the amount to volunteers immediately after verifying the receipt.</li>
            <li><b>If the requester is symptomatic or has tested positive for COVID</b>, take extreme precautions in minimizing contact. Accept electronic forms of payments only to avoid handling cash.</li>
        </ul>
        <p class="title-text"><i>Medications protocol</i></p>
        <p class="details-text">If the request is for OTC (over the counter) medications, do the same as with other goods. If the request is for prescription medications, call the requester in advance to discuss with them the request. Emphasize that you care about and respect their privacy and that you only want to know what is necessary to help them. <b>We do not permit volunteers to pick up controlled substances such as opioids due to safety precautions.</b></p>
        <ul class="details-text">
        	<li><i>Authorizing a pickup:</i> Explain that due to privacy laws, the requester would likely need to authorize someone else to pick up their medications for them, which if they choose to, they should be able to do by calling their pharmacy and giving them the volunteer’s name/information. When they call, they should ask what information the volunteer would need to pick up those medications (typically name, birthday). If the community member is able to have the pharmacy recognize the volunteer to pick up the medications, then the pick up should be permitted.</li>
        	<li><i>Medication safety:</i> Please ask for the list of medications the community member needs when you first call them. If the community member asks about controlled substances, please explain that you are <b>NOT</b> able to pick those up. For a sample list of schedule I-III controlled substances: <a href="https://www.dea.gov/drug-scheduling">https://www.dea.gov/drug-scheduling</a>. If you have further questions, email us and we will do our best to assist you.</li>
        </ul>

        <h5 class="h5-heading">Requesters</h5>

        <p class="title-text">General principles</p>
        <ul class="details-text">
        	<li>Communicate with the volunteer through phone/email while avoiding face-to-face contact.</li>
        	<li>While coronaviruses spread mostly through respiratory droplets (sneezing, coughing), the virus can also be on surfaces and spread through physical contact. When aerosolized, the virus remains viable for up to 3 hours. On surfaces, the <b>viruses can survive for up to 4 hours on copper, 24 hours on cardboard, and 72 hours on plastic and stainless steel</b>.</li>
        	<li>To disinfect surfaces and items, effective methods include: Clorox/Lysol/other antiviral wipes, other liquids containing at least 60-70% alcohol, or 0.5% hydrogen peroxide. Diluted 1:100 bleach solutions (1 part 5% sodium hypochlorite bleach to 99 parts cold water) are cheap and effective.</li>
        </ul>

        <p class="title-text">Delivery</p>
        <ul class="details-text">
            <li>Provide clear instructions on the number and type of grocery/medications you would like.</li>
            <li>Coordinate a method of payment for the items purchased (eg. cash, Zelle, Paypal, Venmo)</li>
            <li>If you are ill and symptomatic with fever, cough, flu-like symptoms, or have been tested positive for COVID, <b>let your volunteer know and take extra precautions to avoid all contact</b>. Use electronic forms of payment only.</li>
        </ul>

        <p class="title-text">Post-Delivery</p>
        <ul class="details-text">
        	<li>After receiving the delivery, sanitize items that you plan to use immediately with antiviral wipes, diluted hydrogen peroxide, diluted bleach (see above). If it's not possible to sanitize every item, leave items you do not plan to use in a "dirty zone" in the house for 3 days.</li>
        	<li>Wipe door handles, fridge handles, and any surface you may have been in contact with as you put the groceries away.</li>
        	<li>Wash your hands with soap and water for 20s immediately.</li>
        </ul>
	</div>

	<div class="footer">
		<div class="horizontal-container">
		    <div class="footer-text">
			    <p class="details-text">Volunteer to make deliveries for the most at-risk community members facing COVID-19.</p>
		    </div>
		    <!-- TODO: Add links. -->
		    <div class="button-box button volunteer-button" id="footer-box">
			    <p class="button-title">Be a volunteer</p>
			    <p class="button-text">Currently recruiting volunteers in the Boston area.</p>
		    </div>
	    </div>
	    <p class="footer-copyright">(c) 2020 Shield, All rights reserved</p>
	</div>
</body>

</html>
