<div class="h5_32 item">
	Health and Safety Protocol
</div>
<div class="body_16_fontonly subhead item">
	To ensure the health and safety of the community, you must read this protocol before you can volunteer.
</div>

<div class="body_23 item">
	Volunteers
</div>

<div class="body_16_fontonly subhead item">
	To be a volunteer, you have to:
	<ul>
		<li>Be between ages 18-40</li>
		<li>Be healthy without pre-existing health conditions that may increase your risk of severe illness, such as severe asthma, respiratory diseases, heart disease, diabetes</li>
		<li>Be without fever, cough, short of breath, and flu-like symptoms (excessive fatigue, muscle or joint pain)</li>
		<li>Have not been exposed to individuals tested positive for COVID-19 within the last 2 weeks</li>
		<li>Have been practicing social distancing</li>
	</ul>
</div>

<div class="body_23 item">
	Delivery protocol precautions
</div>

<div class="body_16_fontonly subhead item">
	Your safety is paramount during this process. We can only help others if we are taking care of ourselves as well.
	</br>
	Communicate with the requester through phone/email as much as possible while minimizing face-to-face contact.
	</br>
	While coronaviruses spread mostly through respiratory droplets (sneezing, coughing), the virus can also be on surfaces through contact. When aerosolized, the virus remains viable for up to 3 hours. On surfaces, the viruses can survive for up to 4 hours on copper, 24 hours on cardboard, and 72 hours on plastic and stainless steel.
	</br>
	To disinfect surfaces, effective methods include: Clorox/Lysol/other antiviral wipes, other liquids containing at least 60-70% alcohol, or 0.5% hydrogen peroxide. Dilute 1:100 bleach solutions (1 part 5% sodium hypochlorite bleach to 99 parts cold water) are cheap and effective.
</div>

<label for="certify-health-safety-protocol-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="certify-health-safety-protocol-cbox" name="certify-health-safety-protocol-cbox"/>
	<span class="req-item req-cbox"></span>  
	<span class="req-item body_bold_16">I certify that I've read the Health and Safety protocol and will make deliveries according to these best pratices.</span> 
</label>

<div class="body_16_fontonly subhead item warning" id="health-safety-warning">
	Please certify that you have read the Health and Safety protocol.
</div>

<div class="body_bold_16 button next-button">
	Next
</div>




