{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- import jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163861770-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-163861770-1');
	</script>

	<title>LivelyHood</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'css/icons/favicon.ico' %}"/>


	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- CUSTOM STYLESHEETS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>

	<!-- PAGE SOURCE -->
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
	<div class="topnav" id="topnav">
		<!-- TODO: Check all links are correct. -->
		<a class="topnav-item button top-link" id="home-item">LivelyHood</a>
		<a class="topnav-item-collapsible button health-and-safety-link">Health and safety protocol</a>
		<a class="topnav-item-collapsible button faq-link">FAQs</a>
		<a class="topnav-item-collapsible button about-link">About</a>
		<a class="topnav-item-collapsible button about-link">Contact</a>
		<a class="topnav-item-collapsible button partners-link">Partners</a>
		<a class="icon">☰</a>
	</div>
	<div class="contents">
		<h3 class="main-heading">When times get tough, we come together</h3>

		<p class="main-text">LivelyHood is a non-profit volunteer-driven organization built to provide safe deliveries for the most at-risk community members facing COVID-19.<br><br><b>Currently in the Boston area.</b></p>

        <div class="horizontal-container">
		    <div class="button-box button volunteer-button">
			    <p class="button-title">Be a volunteer</p>
			    <p class="button-text">Help protect the most vulnerable in your community</p>
		    </div>

		    <div class="button-box button requestor-button">
			    <p class="button-title">Request a delivery</p>
			    <p class="button-text">Available for at-risk community members</p>
		    </div>
	    </div>

		<h4 class="h4-heading">How it works</h4>

		<div class="horizontal-container">
			<div class="step-box">
				<p class="step-title">1.<br>Get notified</p>
				<p class="step-text">Get texted about a nearby delivery request</p>
			</div>
			<div class="step-box">
				<p class="step-title">2.<br>Accept delivery</p>
				<p class="step-text">Once you accept a delivery, reach out to the at-risk community member for details and delivery coordination</p>
			</div>
			<div class="step-box">
				<p class="step-title">3.<br>Deliver the goods</p>
				<p class="step-text">Go shopping for what they need and deliver it to their home, following our Health and Safety Protocol.</p>
			</div>
		</div>

        <!-- For linking -->
		<div id="above-faq"></div>

		<h4 class="h4-heading">Frequently asked questions</h4>

        <h5 class="h5-heading">Volunteer</h5>
	    <div class="collapsible-container">
		    <div class="collapsible">
		    	<!-- TODO: Use SVG instead of PNG. -->
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">How do I coordinate the delivery with the requester?</p>
		    </div>
		    <div class="collapsible-content">
			    <p class="details-text">We match you automatically. When you decide to help with a request, you will receive the requester’s contact information. Please coordinate delivery over phone/email and avoid all direct physical contact.</p>
		    </div>
	    </div>
	    <div class="collapsible-container">
	    	<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">How much time do I have to commit?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">As much as you want! LivelyHood relies on the help of willing and able volunteers, and we don’t take that for granted. Any time that you can chip in counts.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">What if I can’t complete my assigned task or the items requested are out of stock?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">While we encourage volunteers to complete tasks to their best ability, we understand that these are difficult times for everyone. Just decline the request text, and the task will get assigned to someone else. For out of stock items we encourage volunteers to correspond with requestors via text or call to determine a suitable replacement item.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">Do I need a car to volunteer?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">You can walk, run, cycle, or drive to a grocery store or pharmacy! We just request that you stay six feet away from others and practice social distancing as much as possible.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">How will I receive the money I used to pay for groceries? </p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">Keep the receipt from the purchase. In some cases, it may be possible for the community member to call the grocery store in advance to pay for groceries with a credit card. You should coordinate with the community member in advance for the method of payment for the items you purchase. You should not be paid more than what you paid as this is a volunteer service. If the community member is ill, coordinate an electronic method of payment to avoid handling cash (minimizing chances of disease transmission). In general we strongly encourage using a digital form of payment whenever possible to help maintain social distancing.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">When and how do I get a service request? </p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">Our automatic matching system will send you a text message between 8am-8:30pm if someone in your neighborhood needs a delivery.</p>
		    </div>
		</div>

		<h5 class="h5-heading">Requester</h5>

        <div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">How do I submit a request?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">If you’re in the Boston area, submit a request with LivelyHood <a href="https://www.livelyhood.io/requestor">here</a>. Tell us what you need help with and we’ll work to get you paired with a volunteer for delivery.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">How do I know if I’m eligible for this service?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">We hope to target high-risk individuals like the elderly (60+ yo), immunocompromised, front-line medical workers, and those who are quarantined. If you are quarantined because of confirmed COVID + diagnosis or exposure, please inform your volunteer and take extra precautions to prevent disease transmission (eg. electronic form of payment).</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">Is this free?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">It absolutely is! You would just need a method of payment to pay for the  items that you request volunteers to buy.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">How do I know the items I request don’t carry coronavirus?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">The risk of items being delivered carrying coronavirus is equivalent to that of any other delivery service. Our volunteers have been given a set of stringent protocols. Please see instructions for precautions you should take to sanitize the delivered goods and minimize risk of disease transmission.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">What if I’m not in Boston?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">Our service is currently limited to Boston. Check out other great organisations like Invisible Hands or COVID-Assist, which cover New York and San Francisco. If you want us to come to your city, email livelyhood.io@gmail.com.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">Can you run other errands for me? (e.g. dog walking, bank visits)</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">Our service is currently limited to grocery and pharmacy shopping, though we hope to broaden this in the future. We suggest you reach out to other services, like Cambridge Mutual Aid or use Facebook’s request help feature.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">When can I submit a request?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">You can submit a request on our website anytime, any day! We will process all requests submitted between 8am-6pm on the same day (including weekend) to match you with a volunteer. Submissions received outside of this window will be processed the next day.</p>
		    </div>
		</div>
		<div class="collapsible-container">
			<div class="collapsible">
		  	    <img src="{% static 'css/icons/expand_more_24px.png' %}" class="collapsible-image">
		  	    <p class="title-text">When can I expect my delivery?</p>
		    </div>
		    <div class="collapsible-content">
		  	    <p class="details-text">The volunteer will reach out to arrange a convenient drop-off time based on the urgency level indicated in the request submission form.</p>
		    </div>
		</div>

		<!-- For linking -->
		<div id="above-about"></div>

		<h4 class="h4-heading">About</h4>
		
		<p class="details-text">Hi there! We are Team LivelyHood. We're a group of students from Harvard, designers and engineers across the country who are driven to help at-risk communities in this time of uncertainty.<br><br>Our mission is to mobilize help for vulnerable, at-risk members of our local community. In the face of COVID-19, social distancing is limiting the movement of people and changing our way of life. We are hoping to make a difference by keeping at-risk members of the community in their homes, and by asking the willing and able to run a few extra errands when they are out.<br><br>Have questions? We're here to help.<br><br><b>Email:</b> livelyhood.io@gmail.com</p>
	</div>

	<div class="footer">
		<div class="horizontal-container">
		    <div class="footer-text">
			    <p class="details-text">Volunteer to make deliveries for the most at-risk community members facing COVID-19.</p>
		    </div>
		    <!-- TODO: Add links. -->
		    <div class="button-box button volunteer-button" id="footer-box">
			    <p class="button-title">Be a volunteer</p>
			    <p class="button-text">Currently recruiting volunteers in the Boston area.</p>
		    </div>
	    </div>
	    <p class="footer-copyright">(c) 2020 Shield, All rights reserved</p>
	</div>
</body>

</html>
