{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shield</title>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'errand_matcher/style.css' %}">
</head>
<body>
	<div>
		<div class="h3_64">Shield
			<div class="body_16">Safe deliveries for the most at-risk community members facing Covid 19.

We're currently looking for volunteers in the Boston area.
			</div>
		</div>
	</div>
	<div id="volunteer_box">
		<text id="volunteer_header_text">Be a volunteer</text>
		<text id="volunteer_body_text">Help protect the most vulnerable in your community</text>
	</div>
</body>

</html>