{% extends 'templates/errand_matcher/base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/partner.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="contents">
		<h3 class="main-heading">Scale deliveries to your community.</h3>

		<p class="main-text">Does your organization serve vulnerable community members? Our volunteer base can help with grocery runs, food pantry pickups, and more.<br><br><b>Currently in the Boston area.</b></p>

		<div class="horizontal-container row">
			<div class="column border-right" style="padding-right: 48px;">
				<h5 class="h5_32">Set Up a Partner Account</h5>

				{% if setup_done %}
				<p class="body_23">Thanks for the information!</p>
				<p class="body_23">Please expect to hear from #TeamLivelyHood soon :)</p>

				{% else %}
				<p class="body_23">Start discovering volunteers to deliver food to vulnerable members of your community.</p>
				<p class="body_23">Fill out the form below, and we'll contact you about creating an account.</p>

				<form action="{% url 'partner_setup' %}" method="post">
					{% csrf_token %}
					<label for="setup-name" class="body_bold_16">Your Name*</label>
					<input type="text" class="text-input body_16_fontonly" id="setup-name" name="setup-name" placeholder="name" required/>
					<label for="setup-email" class="body_bold_16">Email*</label>
					<input type="text" class="text-input body_16_fontonly" id="setup-email" name="setup-email" placeholder="email" required/> 
					<label for="setup-organization" class="body_bold_16">Organization*</label>
					<input type="text" class="text-input body_16_fontonly" id="setup-organization" name="setup-organization" placeholder="organization" required/>
					<label for="setup-phone-number" class="body_bold_16">Phone Number*</label>
					<input type="text" class="text-input body_16_fontonly" id="setup-phone-number" name="setup-phone-number" placeholder="phone number" required/>  
					<input type="submit" class="inline-button-box body_bold_16" style="align-items: center; width: 75%; border-width: 0px; margin: 0px" value="Submit"/>
				</form>

				{% endif %}
			</div>

			<div class="column" style="padding-left: 48px; float: right">
				<h5 class="h5_32">Sign In</h5>
				{% if warning %}
				<p class="body_16_fontonly" style="color:red">{{warning}}</p>
				{% endif %}
				<form action="{% url 'partner' %}" method="post">
					{% csrf_token %}
					<label for="partner-login-email" class="body_bold_16">Email*</label>
					<input type="email" class="text-input body_16_fontonly" id="partner-login-email" name="partner-login-email" placeholder="email" required/>
					<label for="partner-login-password" class="body_bold_16">Password*</label>
					<input type="password" class="text-input body_16_fontonly" style="margin-bottom: 6px" id="partner-login-password" name="partner-login-password" placeholder="password" required/>
					<div style="text-align: right">
						<a class="forgot-password-link" href="{% url 'partner_password_reset' %}">Forgot my password</a>
					</div>
					<input type="submit" class="inline-button-box body_bold_16" style="align-items: center; width: 75%; border-width: 0px; margin: 0px" value="Submit"/>
				</form>
			</div>
		</div>
	</div>
{% endblock %}