{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- import jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<title>LivelyHood Partner Recover Password</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'css/icons/favicon.ico' %}"/>


	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- CUSTOM STYLESHEETS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>

    <!-- PAGE SOURCE -->
    <script src="{% static 'js/partner.js' %}"></script>
</head>

<body>
	<div class="topnav" id="topnav">
		<!-- TODO: Check all links are correct. -->
		<a class="topnav-item button top-link" id="home-item">LivelyHood</a>
		<a class="topnav-item-collapsible button health-and-safety-link">Health and safety protocol</a>
		<a class="topnav-item-collapsible button faq-link">FAQs</a>
		<a class="topnav-item-collapsible button about-link">About</a>
		<a class="topnav-item-collapsible button about-link">Contact</a>
		<a class="topnav-item-collapsible button partners-link">Partners</a>
		<a class="icon">☰</a>
	</div>
	<div class="contents">
		<h3 class="main-heading">Forgot password?</h3>

		<div>
			<h5 class="h5_32">Don't worry, happens to the best of us.</h5>
		</div>
		<div>
			<form action="{% url 'partner_password_reset' %}" method="post">
				{% csrf_token %}
				<label for="recover-email" class="body_bold_16">Enter Your Email*</label>
				<input type="email" class="text-input body_16_fontonly" id="recover-email" name="recover-email" placeholder="email" style="margin-top: 16px" required/> 
				<input type="submit" class="inline-button-box body_bold_16" style="align-items: center; border-width: 0px; margin: 0px" value="Email me a recovery link"/>
			</form>
		</div>
	</div>
	</div>
	<div class="footer" style="height: 155px; padding: 0px; position: absolute; bottom: 0; width: 100%;">
	    <p class="footer-copyright">(c) 2020 LivelyHood, All rights reserved</p>
	</div>
</body>

</html>