<div class="h5_32 item">
	Does this look right to you?
</div>
<div class="body_16_fontonly subhead item">
	Once you confirm your details, we’ll start trying to match you with a volunteer.
</div>

<div class="conf-item">
	<div class="body-13">First name</div>
	<div class="body_bold_16" id="firstname-review" name="firstname-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Last name</div>
	<div class="body_bold_16" id="lastname-review" name="lastname-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Phone number</div>
	<div class="body_bold_16" id="phone-review" name="phone-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Address</div>
	<div class="body_bold_16" id="address-review" name="address-review"></div>
</div>

<div class="body_bold_16 inline-button-box button finish-set-up">
	Yes, sign up
</div>

<div class="body_bold_16 inline-button-box button" id="redo-button">
	No, take me back
</div>