{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- import fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<!-- import jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<title>Welcome to LivelyHood</title>

    <!-- CUSTOM STYLESHEETS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>

    <!-- PAGE SOURCE -->
    <script src="{% static 'js/requestor-welcome.js' %}"></script>
</head>
<body>
	<div class="topnav" id="topnav">
		<!-- TODO: Check all links are correct. -->
		<a class="topnav-item button top-link" id="home-item">LivelyHood</a>
		<a class="topnav-item-collapsible button health-and-safety-link">Health and safety protocol</a>
		<a class="topnav-item-collapsible button faq-link">FAQs</a>
		<a class="topnav-item-collapsible button about-link">About</a>
		<a class="topnav-item-collapsible button about-link">Contact</a>
		<a class="icon">☰</a>
	</div>
	<div style="margin-top: 60px;">
		<div class="h5_32 item">
			You've successfully signed up
		</div>
		<div class="body_16_fontonly subhead item">
			Thanks for the details, {{requestor.user.first_name}}. Now that we know how to contact you and where you are, you can request a delivery.
		</div>
		<div id="request-button" class="option-box button strong-button option-button">
		    <p class="button-title">Request a delivery</p>
	    </div>
	    <div id="faq-button" class="option-box button body_bold_16 option-button faq-link">
		    Read Frequently Asked Questions
	    </div>
	    <div id="support-button" class="option-box button body_bold_16">Get support
	    </div>
	</div>

</body>


	

	

	
