
<div class="h5_32 item">
	What's your name?
</div>

<div class="text-box" for="firstname-input">
	<input type="text" class="text-input  body_16_fontonly" id="firstname-input" name="firstname-input" placeholder="First name"> 
</div>

<div class="text-box" for="lastname-input">
	<input type="text" class="text-input  body_16_fontonly" id="lastname-input" name="lastname-input" placeholder="Last name" >
</div>

<div class="body_16_fontonly subhead item warning" id="name-warning">
	Please enter both your first and last name.
</div>

<div class="body_bold_16 inline-button-box button next-button">
	Next
</div>


