<div class="h5_32 item">
	Do you live in an apartment?
</div>

<div class="inline-button-box body_bold_16" id="apt-no-yes-button">Yes</div>
<div class="inline-button-box weak-button body_bold_16" id="apt-no-no-button" style="margin: 34px 24px">No</div>

<div class="text-box" id="apt-no-text-box" for="apt-no-input" style="display: none">
	<input type="text" class="text-input body_16_fontonly" id="apt-no-input" name="apt-no-input" placeholder="Apt. #">  
</div>

<div class="body_16_fontonly subhead item warning" id="apt-no-warning">
	Please enter an apartment number.
</div>

<div class="body_bold_16 inline-button-box button next-button" id="apt-no-next-button" style="display: none">
	Next
</div>