
<div class="h5_32 item">
	What's your address?
</div>

<div class="text-box" for="address-input">
	<input type="text" class="text-input  body_16_fontonly" id="address-input" placeholder="Address" onFocus="geolocate()" autocomplete="chrome-off" /> 
</div>

<div class="body_16_fontonly subhead item warning" id="address-warning">
	Please select an address from the drop-down menu.
</div>

<div class="body_16_fontonly subhead item warning" id="outside-of-boston-warning">
	Livelyhood is currently only serving the Boston area. Please check back later to see if we've expanded to your neighborhood.
</div>
