<div class="h5_32 item">
	How do you want to be contacted?
</div>
<div class="body_16_fontonly subhead item">
	This is how we’ll let you know when you match with a volunteer. This is also how your volunteer will contact you to find out what you need.
</div>

<label for="contact-call-radio" class="option-box">
	<input type="radio" id="contact-call-radio" name="contact" value="Phone call"/> 
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">Phone call</span>  
</label>

<label for="contact-sms-radio" class="option-box">
	<input type="radio" id="contact-sms-radio" name="contact" value="SMS text"/>
	<span class="cbox-item cbox"></span> 
	<span class="cbox-item body_bold_16">SMS text</span>
</label>

<div class="body_bold_16 inline-button-box button next-button">
	Next
</div>