
	<div style="margin-top: 60px;">
		<div class="h5_32 item">
			You've successfully signed up
		</div>
		<div class="body_16_fontonly subhead item" id="welcome-name">
		</div>
		<div id="request-button" class="option-box button strong-button option-button">
		    <p class="button-title">Request a delivery</p>
	    </div>
	    <div id="faq-button" class="option-box button body_bold_16 option-button faq-link">
		    Read Frequently Asked Questions
	    </div>
	    <div id="support-button" class="option-box button body_bold_16">Get support
	    </div>
	</div>


	

	

	
