
<div class="h5_32 item">
	Are you an at-risk community member?
</div>
<div class="body_16_fontonly subhead item">
	Due to extraordinary demand we’re restricting service to individuals who meet the <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-at-higher-risk.html"> CDC criteria for high-risk groups.<a/>
</div>
<div class="body_bold_16 subhead item">
	Disclaimer: that this service only for non-urgent grocery or pharmacy needs.
</div>
<div class="body_16_fontonly subhead item">
	Which statements apply to you?
</div>

<label for="requestor-age-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="requestor-age-cbox" name="requestor-requirements"/> 
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16"> I'm over 65 years old </span>  
</label>

<label for="requestor-medical-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="requestor-medical-cbox" name="requestor-requirements"/>
	<span class="cbox-item cbox"></span> 
	<span class="cbox-item body_bold_16"> I have a serious underlying medical condition </span>
</label>

<label for="requestor-sick-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="requestor-sick-cbox" name="requestor-requirements"/>
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16"> I tested positive for COVID-19 </span> 
</label>

<div class="body_bold_16 inline-button-box button next-button">
	Start delivery request
</div>

<div class="body_16_fontonly subhead item warning" id="requirements-warning">
	Unfortunately, we're currently only accepting requests from people who meet one of the above criteria.
</div>
