<div class="h5_32 item">
	Does this look right to you?
</div>
<div class="body_16_fontonly subhead item">
	Once you confirm your details, we’ll start trying to match you with a volunteer.
</div>


<form class="requestor-signup-form" action="signup" method="post">
	{% csrf_token %}

	<div class="conf-item">
		<div class="body-13">First name</div>
		<div class="body_bold_16" for="firstname-review">
			<input type="text" class="body_16_fontonly" style="border-width: 0px" id="firstname-review" name="firstname-review" readonly/>
		</div>
	</div>

	<div class="conf-item">
		<div class="body-13">Last name</div>
		<div class="body_bold_16" for="lastname-review">
			<input type="text" class="body_16_fontonly" style="border-width: 0px" id="lastname-review" name="lastname-review" readonly />
		</div>
	</div>

	<div class="conf-item">
		<div class="body-13">Phone number</div>
		<div class="body_bold_16" for="phone-review">
			<input type="text" class="body_16_fontonly" style="border-width: 0px" id="phone-review" name="phone-review" readonly />
		</div>
	</div>

	<div class="conf-item">
		<div class="body-13">Address</div>
		<div class="body_bold_16" for="address-review">
			<input type="text" class="body_16_fontonly" style="border-width: 0px" size="50" id="address-review" name="address-review" readonly/>
		</div>
	</div>

	<div class="conf-item">
		<div class="body-13">Apartment number</div>
		<div class="body_bold_16" for="apt-no-review">
			<input type="text" class="body_16_fontonly" style="border-width: 0px" size="50" id="apt-no-review" name="apt-no-review" readonly/>
		</div>
	</div>

	<input type="submit" class="body_bold_16 inline-button-box button" style="background: #000000; color: white; align-items: center;" id="requestor-signup-button" value="Yes, sign up">
</form>

<div class="body_bold_16 inline-button-box button" style="width: 500px" id="redo-button">
	No, take me back
</div>