
<div class="h5_32 item">
	How can you get around?
</div>
<div class="body_16_fontonly subhead item">
	This helps us match you with the nearest requests.
</div>

<label for="transport-feet-cbox" class="option-box">
	<input type="checkbox" id="transport-feet-cbox" name="transport" value="My own two feet"/> 
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">My own two feet!</span>  
</label>

<label for="transport-bike-cbox" class="option-box">
	<input type="checkbox" id="transport-bike-cbox" name="transport" value="Bike"/>
	<span class="cbox-item cbox"></span> 
	<span class="cbox-item body_bold_16">Bike</span>
</label>

<label for="transport-car-cbox" class="option-box">
	<input type="checkbox" id="transport-car-cbox" name="transport" value="Car"/>
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">Car</span> 
</label>

<div class="body_bold_16 button next-button">
	Next
</div>
