{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- import fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- import jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://momentjs.com/downloads/moment.js"></script>

	<title>LivelyHood Volunteer Login OTP</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'css/icons/favicon.ico' %}"/>

    <!-- CUSTOM STYLESHEETS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

</head>
<body>
	<div class="h5_32 item">
		Verify your phone number
	</div>

	<form class="volunteer-login-otp-form" action="login-otp" method="post">
		{% csrf_token %}
		<div class="text-box" for="volunteer-otp-input">
			<input type="text" class="text-input body_16_fontonly" id="otp-input" name="otp-input" placeholder="6-digit code" /> 
		</div>
		<div class="body_16_fontonly subhead item warning" id="phone-warning">
			Enter the 6-digit code we sent to you.
		</div>
		<input type="submit" id="volunteer-login-otp-button" class="inline-button-box button body_bold_16" value="Next"/>
	</form>
</body>
</html>