<div class="h5_32 item">
	Does this look right to you?
</div>
<div class="body_16_fontonly subhead item">
	Confirm your details and you're good to go.
</div>

<div class="body-13 item">Name</div>
<div class="body_bold_16 item" id="name-review"></div>

<div class="body-13 item">Phone number</div>
<div class="body_bold_16 item" id="phone-review"></div>

<div class="body-13 item">Zipcode</div>
<div class="body_bold_16 item" id="zipcode-review"></div>

<div class="body-13 item">Transportation access</div>
<div class="body_bold_16 item" id="transportation-review"></div>

<div class="body-13 item">Delivery frequency</div>
<div class="body_bold_16 item" id="frequency-review"></div>