
<div class="h5_32 item">
	Do you meet the requirements?
</div>
<div class="body_16_fontonly subhead item">
	To maintain the safety of our community, we ask that only low-risk people volunteer.
</div>
<div class="body_16_fontonly subhead item">
	In the past 14 days, you certify that you have...
</div>

<label for="vol-reqs-fever-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="vol-reqs-fever-cbox" name="vol-reqs-fever-cbox"/> 
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16"> No fever </span>  
</label>

<label for="vol-reqs-cough-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="vol-reqs-cough-cbox" name="vol-reqs-cough-cbox"/>
	<span class="cbox-item cbox"></span> 
	<span class="cbox-item body_bold_16">No cough</span>
</label>

<label for="vol-reqs-shortness-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="vol-reqs-shortness-cbox" name="vol-reqs-shortness-cbox"/>
	<span class="cbox-item cbox"></span>
	<span class="cbox-item body_bold_16">No shortness of breath</span> 
</label>

<label for="vol-reqs-contact-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="vol-reqs-contact-cbox" name="vol-reqs-contact-cbox"/>
	<span class="cbox-item cbox"></span>  
	<span class="cbox-item body_bold_16">No contact with someone who tested positive for COVID-19</span> 
</label>

<label for="vol-reqs-travel-cbox" class="option-box">
	<input type="checkbox" class="req-input" id="vol-reqs-travel-cbox" name="vol-reqs-travel-cbox"/>
	<span class="cbox-item cbox"></span>  
	<span class="cbox-item body_bold_16"> Not traveled overseas </span>
</label>

<div class="body_16_fontonly subhead acknowledge item" id="vol-acknowedge-subhead">
	We are living in unprecedented times. While we believe following our protocols reduces your risk, no system is perfect.
</div>

<label for="vol-acknowledge-cbox" class="option-box acknowledge">
	<input type="checkbox" class="acknowledge-input acknowledge" id="vol-acknowledge-cbox" name="vol-acknowledge-cbox"/>
	<span class="cbox-item cbox acknowledge"></span>  
	<span class="cbox-item body_bold_16 acknowledge">I acknowledge and accept that I could potentially contract COVID-19 by facilitating a delivery.</span>
</label>

<div class="body_bold_16 affirmative item">
	<b> Great! One last check to see if you're eligible to volunteer. </b>
</div>
