
<div class="h5_32 item">
	What's your address?
</div>

<div class="body_16_fontonly subhead item">
	This helps us match you with the nearest requests.
</div>

<div class="text-box" for="address-input">
	<input type="text" class="text-input  body_16_fontonly" id="address-input" placeholder="Address" onFocus="geolocate()"/> 
</div>

<div class="body_16_fontonly subhead item warning" id="address-warning">
	Please select an address from the drop-down menu. You can always enter a landmark nearby!
</div>
