{% extends 'templates/errand_matcher/base.html' %}
{% load static %}
{% block scripts %}
	    <script src="{% static 'js/volunteer-signup.js' %}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
	<div class="contents">
		<h3 class="main-heading">Be a volunteer</h3>
		<form id="add-delivery-form" action="{% url 'volunteer_signup' %}" method="post">
    		{% csrf_token %}
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="add-volunteer-first-name" class="body_bold_16">First Name</label>
					<input type="text" class="form-control body_16_fontonly" id="add-volunteer-first-name" name="add-volunteer-first-name" required/>
				</div>
				<div class="col-md-6 mb-3">
					<label for="add-volunteer-last-name" class="body_bold_16">Last Name</label>
					<input type="text" class="form-control body_16_fontonly" id="add-volunteer-last-name" name="add-volunteer-last-name" required/>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="add-volunteer-phone" class="body_bold_16">Phone</label>
					<input type="tel" class="form-control body_16_fontonly" id="add-volunteer-phone" name="add-volunteer-phone" required/>
					<p class="body_16_fontonly warning" id="phone-warning" style="color:red">Please enter a 10-digit U.S. phone number.</p>
				</div>
				<div class="col-md-6 mb-3">
					<label for="add-volunteer-email" class="body_bold_16">Email</label>
					<input type="email" class="form-control body_16_fontonly" id="add-volunteer-email" name="add-volunteer-email" required/>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="add-volunteer-address" class="body_bold_16">Address</label>
					<p class="b3-11px-font">This helps us match you with the nearest requests.</p>
					<p class="body_16_fontonly warning" id="address-warning" style="color:red">Please select an address from the drop-down menu.</p> 
					<input type="text" class="form-control body_16_fontonly" id="add-volunteer-address" name="add-volunteer-address" onFocus="geolocate()" autocomplete="chrome-off" required/>
					<input type="hidden" name="address-latitude" id="address-latitude"/>
					<input type="hidden" name="address-longitude" id="address-longitude"/>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<p class="body_bold_16">Select the ways you get around:</p>
					<div id="add-volunteer-transport-walk" class="form-check">
						<input class="form-check-input transport-check" type="checkbox" value="My own two feet" id="transportCheck1" name="transport">
						<label class="form-check-label body_16_fontonly" for="transportCheck1">
							My own two feet!
						</label>
					</div>
					<div id="add-volunteer-transport-bike" class="form-check">
						<input class="form-check-input transport-check" type="checkbox" value="Bike" id="transportCheck2" name="transport">
						<label class="form-check-label body_16_fontonly" for="transportCheck2">
							Bike
						</label>
					</div>
					<div id="add-volunteer-transport-car" class="form-check">
						<input class="form-check-input transport-check" type="checkbox" value="Car" id="transportCheck3" name="transport">
						<label class="form-check-label body_16_fontonly" for="transportCheck3">
							Car
						</label>
					</div>
					<div>
						<input type="hidden" id="transportChecked"/>
					</div>
					<p class="body_16_fontonly warning" id="transport-warning" style="color:red">Please select at least one transportation method.</p>
				</div>
				<div class="col-md-4 mb-3">
					<p class="body_bold_16">Select the languages you speak:</p>
					<div id="add-volunteer-language-english" class="form-check">
						<input class="form-check-input language-check" type="checkbox" value="English" id="languageCheck1" name="language">
						<label class="form-check-label body_16_fontonly" for="languageCheck1">
							English
						</label>
					</div>
					<div id="add-volunteer-language-spanish" class="form-check">
						<input class="form-check-input language-check" type="checkbox" value="Spanish" id="languageCheck2" name="language">
						<label class="form-check-label body_16_fontonly" for="languageCheck2">
							Spanish
						</label>
					</div>
					<div id="add-volunteer-language-chinese" class="form-check">
						<input class="form-check-input language-check" type="checkbox" value="Chinese" id="languageCheck3" name="language">
						<label class="form-check-label body_16_fontonly" for="languageCheck3">
							Chinese
						</label>
					</div>
					<div id="add-volunteer-language-russian" class="form-check">
						<input class="form-check-input language-check" type="checkbox" value="Russian" id="languageCheck4" name="language">
						<label class="form-check-label body_16_fontonly" for="languageCheck4">
							Russian
						</label>
					</div>
					<div>
						<input type="hidden" id="languageChecked"/>
					</div>
					<p class="body_16_fontonly warning" id="language-warning" style="color:red">Please select at least one language.</p>
				</div>
				<div class="col-md-4 mb-3">
					<p class="body_bold_16">How often can you make deliveries?</p>
					<div id="add-volunteer-frequency-anytime" class="form-check">
						<input class="form-check-input frequency-check" type="radio" value="Anytime" id="frequencyRadio1" name="frequencyRadio">
						<label class="form-check-label body_16_fontonly" for="frequencyRadio1">
							Anytime
						</label>
					</div>
					<div id="add-volunteer-frequency-two-to-three" class="form-check">
						<input class="form-check-input frequency-check" type="radio" value="2-3 times a week" id="frequencyRadio2" name="frequencyRadio">
						<label class="form-check-label body_16_fontonly" for="frequencyRadio2">
							2-3 times a week
						</label>
					</div>
					<div id="add-volunteer-frequency-once" class="form-check">
						<input class="form-check-input frequency-check" type="radio" value="Once a week" id="frequencyRadio3" name="frequencyRadio">
						<label class="form-check-label body_16_fontonly" for="frequencyRadio3">
							Once a week
						</label>
					</div>
					<p id="frequency-instructions" class="b3-11px-font">The more often, the merrier :). Don't worry, you'll get to choose what to accept when the time comes.</p>
					<p class="body_16_fontonly warning" id="frequency-warning" style="color:red">Please select one.</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<p class="body_23">To maintain the safety of our community, we ask that our volunteers:</p>
					<div class="form-group">
						<div class="form-check">
							<input class="eligibility-check form-check-input" type="checkbox" id="volunteerRequirementCheck1">
							<label class="form-check-label body_16_fontonly" for="volunteerRequirementCheck1">
								Be at least 18 years of age
							</label>
						</div>
						<div class="form-check">
							<input class="eligibility-check form-check-input" type="checkbox" id="volunteerRequirementCheck2">
							<label class="form-check-label body_16_fontonly" for="volunteerRequirementCheck2">
								Be healthy without pre-existing health conditions that may increase your risk of severe illness, such as severe asthma, respiratory diseases, heart disease, and diabetes
							</label>
						</div>
						<div class="form-check">
							<input class="eligibility-check form-check-input" type="checkbox" id="volunteerRequirementCheck3">
							<label class="form-check-label body_16_fontonly" for="volunteerRequirementCheck3">
								Be without fever, cough, shortness of breath, and flu-like symptoms (excessive fatigue, muscle or joint pain) in the past 14 days
							</label>
						</div>
						<div class="form-check">
							<input class="eligibility-check form-check-input" type="checkbox" id="volunteerRequirementCheck4">
							<label class="form-check-label body_16_fontonly" for="volunteerRequirementCheck4">
								Have not been exposed to individuals tested positive for COVID-19 in the past 14 days
							</label>
						</div>
						<div class="form-check">
							<input class="eligibility-check form-check-input" type="checkbox" id="volunteerRequirementCheck5">
							<label class="form-check-label body_16_fontonly" for="volunteerRequirementCheck5">
								Have not traveled oversees in the past 14 days and have been practicing social distancing
							</label>
						</div>
					</div>
					<p class="body_16_fontonly warning" id="eligibility-warning" style="color:red">We're currently only accepting volunteers from people who meet all of the above criteria.</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<div class="body_23">
						Delivery protocol precautions
					</div>
					<div class="body_bold_16 mt-2">
						Your safety is paramount during this process. We can only help others if we are taking care of ourselves as well.
					</div>
					<div class="body_16_fontonly mt-2">
						While coronaviruses spread mostly through respiratory droplets (sneezing, coughing), the virus can also be on surfaces through contact. When aerosolized, the virus remains viable for up to 3 hours. On surfaces, the viruses can survive for up to 4 hours on copper, 24 hours on cardboard, and 72 hours on plastic and stainless steel. To disinfect surfaces, effective methods include: Clorox/Lysol/other antiviral wipes, other liquids containing at least 60-70% alcohol, or 0.5% hydrogen peroxide. Diluted 1:100 bleach solutions (1 part 5% sodium hypochlorite bleach to 99 parts cold water) are cheap and effective.
					</div>
					<div class="body_16_fontonly mt-2">
						To minimize face-to-face contact, please communicate with the requester through phone/email as much as possible.
					</div>
					<div class="form-group mt-2">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="volunteerHealthSafetyCheck1">
							<label class="form-check-label body_16_fontonly" for="volunteerHealthSafetyCheck1">
								I certify that I've read the Health and Safety protocol and will make deliveries according to these best pratices.
							</label>
						</div>
					</div>
					<p class="body_16_fontonly warning" id="health-safety-warning" style="color: red">Please certify that you have read the Health and Safety protocol.</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<p class="body_bold_16">We are living in unprecedented times. While we believe following our protocols reduces your risk, no system is perfect.</p>
					<div class="form-group">
						<div id="volunteerAcknowledgment" class="form-check">
							<input class="form-check-input" type="checkbox" id="volunteerAcknowledgmentCheck1" required>
							<label class="form-check-label body_16_fontonly" for="volunteerAcknowledgmenCheckt1">
								I acknowledge and accept that I could potentially contract COVID-19 by facilitating a delivery.
							</label>
						</div>
					</div>
					<p class="body_16_fontonly warning" id="acknowledgment-warning" style="color: red">Please certify that you have acknowledged the risks.</p>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<input type="submit" class="inline-button-box body_bold_16" style="align-items: center; border-width: 0px; margin: 0px" id="add-volunteer-submit" value="Complete profile"/>
				</div>
			</div>
		</form>
	</div>
{% endblock %}