<div class="h5_32 item">
	Does this look right to you?
</div>
<div class="body_16_fontonly subhead item">
	Confirm your details and you're good to go.
</div>

<div class="body-13 item">First name</div>
<div class="body_bold_16 item" id="firstname-review" name="firstname-review"></div>

<div class="body-13 item">Last name</div>
<div class="body_bold_16 item" id="lastname-review" name="lastname-review"></div>

<div style="display: none;" id="email-review" name="email-review">{{email}}</div>

<div class="body-13 item">Phone number</div>
<div class="body_bold_16 item" id="phone-review" name="phone-review"></div>

<div class="body-13 item">Zipcode</div>
<div class="body_bold_16 item" id="zipcode-review" name="zipcode-review"></div>

<div class="body-13 item">Transportation access</div>
<div class="body_bold_16 item" id="transportation-review" name="transportation-review"></div>

<div class="body-13 item">Delivery frequency</div>
<div class="body_bold_16 item" id="frequency-review" name="frequency-review"></div>

<div class="body-13 item">Languages</div>
<div class="body_bold_16 item" id="language-review" name="language-review"></div>

<div class="body_bold_16 button finish-set-up">
	Finish set up
</div>