<div class="h5_32 item">
	Does this look right to you?
</div>
<div class="body_16_fontonly subhead item">
	Confirm your details and you're good to go.
</div>

<div class="conf-item">
	<div class="body-13">First name</div>
	<div class="body_bold_16" id="firstname-review" name="firstname-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Last name</div>
	<div class="body_bold_16" id="lastname-review" name="lastname-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Email</div>
	<div id="email-review" class="body_bold_16" name="email-review"> {{email}}</div>
</div>

<div class="conf-item">
	<div class="body-13">Phone number</div>
	<div class="body_bold_16" id="phone-review" name="phone-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Zipcode</div>
	<div class="body_bold_16" id="zipcode-review" name="zipcode-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Transportation access</div>
	<div class="body_bold_16" id="transportation-review" name="transportation-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Delivery frequency</div>
	<div class="body_bold_16" id="frequency-review" name="frequency-review"></div>
</div>

<div class="conf-item">
	<div class="body-13">Languages</div>
	<div class="body_bold_16" id="language-review" name="language-review"></div>
</div>

<div class="body_bold_16 button finish-set-up">
	Finish set up
</div>