<div class="h5_32 item" id="welcome-name">
</div>
<div class="body_16_fontonly subhead item">
	We're glad to have you onboard. Every person makes a difference. With your help, you could save lives and help those in need.
</div>

<div class="h5_32 item">What's next?</div>

<div class="item">
	<span class="body_bold_16">1</span> 
	<span class="body_16_fontonly"> When someone nearby needs help, you'll be notified of their request.</span>
</div>
<div class="item">
	<span class="body_bold_16">2</span> 
	<span class="body_16_fontonly"> Confirm if you'll be able to help at this time.</span>
</div>
<div class="item">
	<span class="body_bold_16">3</span> 
	<span class="body_16_fontonly"> Reach out to the at-risk community member for details on what they need and how you'll be reimbursed.</span>
</div>
<div class="item">
	<span class="body_bold_16">4</span> 
	<span class="body_16_fontonly"> Go shopping for what they need and deliver it to their home, following our Safety Best Practices.</span>
</div>


	

	

	
