/*volunteer-requirements.css*/
div {
	padding: 8px 24px;
}

.page {
	padding: 0px 0px;
}

.subhead {

	/* Body 16 */
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */


	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	align-self: flex-start;
}

.option-box {
	display: flex;
	flex-direction: row;

	background: #FFFFFF;
	/* shadow */

	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	padding: 24px 16px;

	flex: none;
	align-self: center;
}

/*.option-box:hover {
	background: #EFEFEF;
}*/
 
.option-box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.req-cbox {
	display: inline;

	width: 20px;
	height: 20px;
	left: 16px;
	top: 24px;

	flex: none;
	order: 0;
	align-self: center;

	background: url(icons/checkbox_empty.svg)
}

.option-box input:checked ~ .req-cbox {
	background: url(icons/checkbox_filled.svg);
}

.req-item {
	margin-left: 16px;
}

.affirmative {
	display: none;
}

