/*volunteer-requirements.css*/
.subhead {

	/* Inside Auto Layout */

	flex: none;
	align-self: flex-start;
}

.option-box {
	display: flex;
	flex-direction: row;

	background: #FFFFFF;
	/* shadow */

	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	padding: 24px 16px;

	margin: 16px 24px;

	flex: none;
	align-self: center;
}
 
.option-box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}


.cbox {
	display: inline;

	width: 20px;
	height: 20px;
	left: 16px;
	top: 24px;

	flex: none;
	order: 0;
	align-self: center;

	background: url(icons/checkbox_empty.svg)
}

.option-box input:checked ~ .cbox {
	background: url(icons/checkbox_filled.svg);
}

.cbox-item {
	margin-left: 16px;
}

/* reproduces checkbox behavior with:
<label for="some-cbox" class="option-box">
		<input type="checkbox" id="some-cbox"/> 
		<span class="cbox-item cbox"></span>
		<span class="cbox-item body_bold_16"> An option! </span>  
</label>

todo: radio example
*/

.text-box {
	margin: 16px 24px;
}

.text-input {
	display: flex;
	flex-direction: row;
	padding: 16px 24px;

	background: #FFFFFF;
	border: 1px solid #B1B1B1;
	box-sizing: border-box;
	border-radius: 8px;

	width: 100%;
}

.text-input:focus {
	border: 2px solid #000000;
}

.button {
	display: flex;
	flex-direction: column;
	padding: 10px;

	margin: 34px 24px;
	
	background: #C4C4C4;
	border-radius: 8px;

    text-align: center
}

@media screen and (min-width: 576px){
	.text-input{
		width: 540px;
	}

	.button{
		width: 520px;
	}
}

.radio-box {
	display: flex;
	flex-direction: row;

	background: #FFFFFF;
	/* shadow */

	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	padding: 24px;
	margin: 0px 16px;

	flex: none;
	align-self: center;
}

input[type="radio"]{
    visibility:hidden;
}

input[type="radio"]:checked + label{
	background: #C4C4C4;
}





