/*email-confirmation.css*/
.email-form {

	display: flex;
	flex-direction: column;
	padding: 16px 24px;

	/* Inside Auto Layout */

	flex: none;
	order: 3;
	align-self: center;
	margin: 0px 0px;

	text-align: center
}

input[type=email] {
	/* Auto Layout */

	display: flex;
	flex-direction: row;
	padding: 16px 24px;
	align-self: center;

	background: #FFFFFF;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 8px;

	/* Body 16 */

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */


	color: rgba(0, 0, 0, 0.56);

	display: inline-block;
}

input[type=submit] {
	/* Body Bold 16 */

	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */

	text-align: center;
	letter-spacing: 0.03em;

	display: flex;
	flex-direction: column;
	padding: 10px;

	background: #C4C4C4;
	border-radius: 8px;

	display: inline-block;

	margin-top: 10px;
}