.h5_32_box {
	/* Auto Layout */

	display: flex;
	flex-direction: column;
	padding: 8px 24px;

	position: absolute;
	width: 320px;
	height: 142px;
	left: 0px;
	top: 0px;
}

.h5_32 {
	/* When times get tough, we come together */

	position: static;
	left: 7.5%;
	right: 7.5%;
	top: 5.63%;
	bottom: 5.63%;

	/* H5 32 */

	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 130%;
	/* or 42px */


	color: #000000;


	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 0px 10px;
}

.h3_64 {
	/* Shield */

	position: absolute;
	left: 9.06%;
	right: 32.81%;
	top: 16.23%;
	bottom: 51.99%;

	/* H3 64 */

	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 150%;
	/* identical to box height, or 96px */


	color: #000000;
}

.body_16 {
	/* Safe deliveries for the most at-risk community members facing COVID-19. */
	/* Currently looking for volunteers in the Boston area. */

	position: static;
	left: 7.5%;
	right: 7.5%;
	top: 5%;
	bottom: 5%;

	/* Body 16 */

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */


	color: #000000;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 0px 10px;


.body_bold_16 {
	/* Body Bold 16 */

	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */

	letter-spacing: 0.03em;

	color: #041C4F;
}

#volunteer_box {
	/* Auto Layout */
	display: flex;
	flex-direction: column;
	padding: 24px;

	position: static;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	background: #000000;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 0px 0px;
}

#volunteer_header_text {
	/* Be a volunteer */


	position: static;
	width: 224px;
	height: 24px;
	left: 24px;
	top: 24px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */

	letter-spacing: 0.03em;

	color: #FFFFFF;


	/* Inside Auto Layout */

	flex: none;
	order: 0;
	margin: 0px 4px;
}

#volunteer_body_text {
	/* Help protect the most vulnerable in your community */


	position: static;
	width: 224px;
	height: 42px;
	left: 24px;
	top: 52px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	/* or 21px */


	color: #FFFFFF;


	/* Inside Auto Layout */

	flex: none;
	order: 1;
	margin: 0px 4px;
}

.form_radio_unchecked {
		/* Auto Layout */

	display: flex;
	flex-direction: row;
	padding: 24px 16px;

	position: static;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	background: #FFFFFF;
	/* shadow */

	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 0px 0px;
}

