.topnav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background: #FFFFFF;
}

.topnav a {
	margin: 18px 28px;

	font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
    display: inline-block;
}

.topnav a:hover {
	cursor: pointer;
}

#home-item {
	margin-right: 68px;

    font-weight: bold;
    font-size: 16px;
}

.topnav .icon {
	display: none;
}

.contents {
	margin: 128px 220px;
}

.h4-heading {
	position:static;
	margin-top: 96px;
	margin-bottom: 12px;

	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 130%;

	color: #000000;
}

.h5-heading {
	position:static;
	margin-top: 36px;
	margin-bottom: 12px;

	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 130%;

	color: #000000;
}

.title-text {
	position: static;
	margin: 0px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;

	color: #000000;
}

.details-text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	color: #000000;
}

.horizontal-container {
	position: static;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer {
	position: static;

	padding: 80px 220px;

	background: #F1F1F1;
}

.footer-text {
	width: 40%;
	margin-right: 58px;
}

#footer-box {
	width: 40%;
}

.footer-copyright {
	position:static;
	margin-top: 67px;

	font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 200%;

    text-align: center;
}

.button-box {
	position: static;
	padding:24px;
	width: 272px;
	margin-top: 12px;
	margin-right: 24px;

	background: #000000;
	border-radius: 8px;
}

.button-box[disabled] {
	background: #EAEAEA;
}

/* TODO: check hover behavior with UX */
.button-box:hover:not([disabled]) {
	background: #202124;
	cursor: pointer;
}

.button-title {
	position: static;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 2px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;

	color: #FFFFFF;
}

.button-title[disabled] {
	color: #000000;
}

.button-text {
	position: static;
	padding: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 2px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	color: #FFFFFF;
}

.button-text[disabled] {
	color: #000000;
}

@media only screen and (max-width: 800px) {
	.topnav a.topnav-item-collapsible {
		display: none;
	}

    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive #home-item {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive a.topnav-item-collapsible {
    	float: none;
    	display: block;
    	text-align: right;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .contents {
	    margin: 68px 28px;
    }

    .h4-heading {
    	margin-top: 36px;
    }

    .footer {
    	padding: 28px 28px;
    }

    .footer-text {
	    width: 100%;
	    margin-right: 58px;
    }

    #footer-box {
    	width: 272px;
    	margin-top: 12px;
    }
}

.item {
	padding: 8px 24px;
}

.warning {
	color: #B33A3A;
	display: none;
}

.subhead {
	flex: none;
	align-self: flex-start;
}

.option-box {
	display: flex;
	flex-direction: row;

	background: #FFFFFF;
	/* shadow */

	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	padding: 24px 16px;

	margin: 16px 24px;

	flex: none;
	align-self: center;

	width: auto;
}
 
.option-box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}


.cbox {
	display: inline;

	width: 20px;
	height: 20px;
	left: 16px;
	top: 24px;

	flex: none;
	order: 0;
	align-self: center;

	background: url(icons/checkbox_empty.svg)
}

.option-box input:checked ~ .cbox {
	background: url(icons/checkbox_filled.svg);
}

.cbox-item {
	margin-left: 16px;
}

/* reproduces checkbox behavior with:
<label for="some-cbox" class="option-box">
		<input type="checkbox" id="some-cbox"/> 
		<span class="cbox-item cbox"></span>
		<span class="cbox-item body_bold_16"> An option! </span>  
</label>

todo: radio example
*/

.text-box {
	margin: 16px 24px;
}

.text-input {
	display: flex;
	flex-direction: row;
	padding: 16px 24px;

	background: #FFFFFF;
	border: 1px solid #B1B1B1;
	box-sizing: border-box;
	border-radius: 8px;

	width: 100%;
}

.text-input:focus {
	border: 2px solid #000000;
}

.inline-button-box {
	display: flex;
	flex-direction: column;
	padding: 10px;

	margin: 34px 24px;
	
	background: #C4C4C4;
	border-radius: 8px;

    text-align: center;

    width: auto;
}

.inline-button-box:hover:not([disabled]) {
	filter: brightness(90%);
	cursor: pointer;
}

.option-box:hover:not([disabled]) {
	filter: brightness(90%);
	cursor: pointer;
}

@media screen and (min-width: 576px){
	.text-input{
		width: 540px;
	}

	.option-box{
		width: 508px;
	}

	.inline-button-box{
		width: 520px;
	}
}

.strong-button {
	background: #000000;
	color: #FFFFFF;
}

.conf-item {
	margin: 24px 0px;
	padding: 0px 24px;
}

.body-13 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 150%;
	/* identical to box height, or 19px */

	color: #000000;

	opacity: 0.5;

	/* Inside Auto Layout */

	flex: none;
	align-self: center;
	margin: 4px 0px;
}

.body_23 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 150%;
}

.h3_64 {
	/* Shield */

	position: absolute;
	left: 9.06%;
	right: 32.81%;
	top: 16.23%;
	bottom: 51.99%;

	/* H3 64 */

	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 150%;
	/* identical to box height, or 96px */


	color: #000000;
}

.h5_32 {
	display: flex;
	flex-direction: column;

	/* H5 32 */
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 130%;
	/* or 42px */

	color: #000000;

	/* Inside Auto Layout */
	flex: none;
	align-self: center;
}

.body_16_fontonly {
	/* Body 16 */
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	color: #000000;
}


.body_bold_16 {
	/* Body Bold 16 */

	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */

	letter-spacing: 0.03em;

	color: #000000;
}

#volunteer_box {
	/* Frame 11 */

	/* Auto Layout */

	display: flex;
	flex-direction: column;
	padding: 24px;

	position: absolute;
	left: 9.06%;
	right: 32.81%;
	top: 45%;
	bottom: 40%;

	background: #FFFFFF;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#volunteer_header_text {
	/* Be a volunteer */

	position: static;
	width: 221.35px;
	height: 24px;
	left: 24px;
	top: 24px;

	/* Body Bold 16 */
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */

	letter-spacing: 0.03em;

	color: #041C4F;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: center;
	margin: 0px 4px;
}

#volunteer_body_text {
	/* Help protect the most vulnerable in your community */

	position: static;
	width: 221.35px;
	height: 42px;
	left: 24px;
	top: 52px;

	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	/* or 21px */

	color: #041C4F;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	align-self: center;
	margin: 0px 4px;
}

.page {
	display: none;
}

.nav-bar {
	padding: 24px 0px;
}

.nav-item {
	display: inline-block;
	margin-left: 24px;

}

.option-button {
	padding: 24px;
}

body {
	margin: 0px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

